@mixin  box($backColor,$fontColor){
    background-color:$backColor;
    color:$fontColor;
        width: 25%;
        height: 200px;
        border: 2px solid red;
        border-radius: 5px;
        margin: 10px;
        

}